/yad3l-application/target/
/yad3l-components/yad3l-components-android/target/
/yad3l-components/yad3l-components-common/target/
/yad3l-components/yad3l-components-spring/target/
/yad3l-domain/target/
/yad3l-infrastructure/target/
/yad3l-starters/yad3l-android-starter/target/
/yad3l-starters/yad3l-spring-starter/target/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/